modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
EXTERNAL_DATABASE_URL = "postgresql://postgres:wcazKAUVQMENsMzqkoMMSxaGhPunqJCP@interchange.proxy.rlwy.net:33789/railway"
JWT_SECRET = "justideas-jwt-secret-2026-romanesc"
